<h3>6.5.2: Create Heatmaps for Weather Parameters</h3>
<p>For a basic heatmap, all we need to do is provide the following:</p>
<ul>
    <li>Latitudes and longitudes for the locations</li>
<li>A measurement value for each latitude and longitude in the form of arrays that have the same number of items in each array</li>
</ul>

In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hermanus,ZA,2020-10-20 19:30:13,-34.42,19.23,55.00,78,0,0.56
1,1,Saskylakh,RU,2020-10-20 19:30:13,71.92,114.08,20.88,97,99,7.56
2,2,Stavrovo,RU,2020-10-20 19:30:13,56.13,40.01,32.34,96,15,10.11
3,3,Pisco,PE,2020-10-20 19:30:13,-13.70,-76.22,69.01,72,20,9.17
4,4,Butaritari,KI,2020-10-20 19:30:14,3.07,172.79,81.77,76,97,12.03

In [5]:
# check the data types for the columns of our DataFrame.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object


<h4>Create a Maximum Temperature Heatmap</h4>
<p>First, tell gmaps to use your API key. You only need to configure gmaps to use your API key once.</p>

In [6]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

<p>Next, create the heatmap for the maximum temperature.</p>
<p>Google heatmaps do not plot negative numbers. If you have a maximum temperature that is less than 0 °F, then you will get an InvalidWeightException error for this line of code:</p>
<p>heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)</p>
<p>To remove the negative temperatures we can use a for loop to iterate through the max_temp and add the temperatures that are greater than 0 °F to a new list.</p>

In [8]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [11]:
# Heatmap of temperature
# 1. Assign the locations to an array of latitude and longitude pairs.
#locations = [latitude, longitude]
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
#temperatures = # an array of equal length of the locations array.

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
#heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
#heat_layer = gmaps.heatmap_layer(locations, weights=temps)

#Instead of using the for loop for temps, we can perform a list comprehension within the heatmap_layer() function.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

<h4>Adjust Heatmap Zoom, Intensity, and Point Radius</h4>
<p>First, add the geographic center of Earth in the form of latitude and longitude (30.0° N and 31.0° E). Also, add a zoom level so that only one map of Earth is shown.</p>
<p>gmaps.figure() attribute.</p>

In [13]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# modify heat_layer
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))


<h4>Create a Percent Humidity Heatmap</h4>
<p>reuse the code and use the humidity values for the measurements.</p>

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))


<h4>Create a Percent Cloudiness Heatmap</h4>

In [17]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))


<h4>Create a Wind Speed Heatmap</h4>

In [18]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))


<h3>6.5.3: Get Vacation Criteria</h3>
<p>A feature on the app that allows customers to search for locations they want to travel based on their temperature preferences.</p>
<p>Recall that you use the input() statement to prompt a user to enter information. To convert the input to a floating-point decimal number, wrap the input() statement with the float() method, like this: float(input()).</p>

In [19]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [20]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Butaritari,KI,2020-10-20 19:30:14,3.07,172.79,81.77,76,97,12.03
8,8,Samarai,PG,2020-10-20 19:30:15,-10.62,150.67,78.76,86,100,8.41
10,10,Axim,GH,2020-10-20 19:30:15,4.87,-2.24,77.41,87,99,9.44
22,22,Mitsamiouli,KM,2020-10-20 19:30:17,-11.38,43.28,79.32,73,0,2.93
23,23,Hilo,US,2020-10-20 19:30:18,19.73,-155.09,82.40,58,1,5.82
25,25,Salimpur,IN,2020-10-20 19:30:18,28.13,76.28,76.05,18,0,5.23
42,42,Puerto Ayora,EC,2020-10-20 19:30:23,-0.74,-90.35,77.00,73,40,16.11
50,50,Puerto Del Rosario,ES,2020-10-20 19:29:36,28.50,-13.86,77.00,73,40,8.05
52,52,Kudahuvadhoo,MV,2020-10-20 19:30:25,2.67,72.89,82.29,79,100,12.35
53,53,Sinnamary,GF,2020-10-20 19:30:25,5.38,-52.95,83.91,67,100,14.00

In [21]:
# to determine if there are any null values.
preferred_cities_df.count()

City_ID       150
City          150
Country       150
Date          150
Lat           150
Lng           150
Max Temp      150
Humidity      150
Cloudiness    150
Wind Speed    150
dtype: int64


<h3>6.5.4: Map Vacation Criteria</h3>
<p>To show customer a heatmap for the maximum temperature for the filtered cities. In addition, create a marker for each city that will display the name of the city, country code, maximum temperature, and name of a nearby hotel within three miles of the coordinates when the marker is clicked.</p>

<h4>Get Travel Destinations</h4>
<p>Need to create a new DataFrame specifically for the data needed to create a heatmap and pop-up markers.</p>
<p>Make a copy of the preferred_cities_df DataFrame and name it hotel_df. For the hotel_df, keep the columns "City," "Country," "Max Temp," "Lat," and "Lng." Add a new column to the hotel_df DataFrame to hold the name of the hotel.</p>

In [22]:
# Create new DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                  City Country  Max Temp    Lat     Lng Hotel Name
4           Butaritari      KI     81.77   3.07  172.79
8              Samarai      PG     78.76 -10.62  150.67
10                Axim      GH     77.41   4.87   -2.24
22         Mitsamiouli      KM     79.32 -11.38   43.28
23                Hilo      US     82.40  19.73 -155.09
25            Salimpur      IN     76.05  28.13   76.28
42        Puerto Ayora      EC     77.00  -0.74  -90.35
50  Puerto Del Rosario      ES     77.00  28.50  -13.86
52        Kudahuvadhoo      MV     82.29   2.67   72.89
53           Sinnamary      GF     83.91   5.38  -52.95

<h4>Retrieve Hotels from a Nearby Search</h4>
<p>The first step for retrieving hotels from a Nearby Search is to set the parameters for the search.</p>

<h5>Set the Parameters for a Nearby Search</h5>
<p>To find the nearest establishment to geographic coordinates, use the Google Places Nearby Search request.</p>

<h4>Iterate Through hotel_df DataFrame</h4>
<p>We can use the iterrows() function to perform the iteration; however, we need to provide the index and the row in the for loop using this syntax: for index, row in df.iterrows().</p>

In [29]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Butaritari,KI,81.77,3.07,172.79,Isles Sunset Lodge
8,Samarai,PG,78.76,-10.62,150.67,Nuli Sapi
10,Axim,GH,77.41,4.87,-2.24,AXIM BEACH RESORT AND SPA
22,Mitsamiouli,KM,79.32,-11.38,43.28,Foyer ADM
23,Hilo,US,82.40,19.73,-155.09,Hilo Hawaiian Hotel
25,Salimpur,IN,76.05,28.13,76.28,जाजम Royal Family Rao shab
42,Puerto Ayora,EC,77.00,-0.74,-90.35,Finch Bay Galapagos Hotel
50,Puerto Del Rosario,ES,77.00,28.50,-13.86,Hotel JM Puerto del Rosario
52,Kudahuvadhoo,MV,82.29,2.67,72.89,Kudahuvadhoo Retreat
53,Sinnamary,GF,83.91,5.38,-52.95,ALETHEIA Appartement Sinnamary


<h3>Create a Maximum Temperature Heatmap from a Hotel DataFrame</h3>
<p>Before adding pop-up markers with hotel information, let's create a heatmap using the maximum temperature from our hotel_df DataFrame by reusing the code and changing the DataFrame name.</p>

In [33]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)

# add marker for each city and pop-up hotel information with info_box_content
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# add layer
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))


<p>Add a pop-up marker for each city that displays the hotel name, city name, country, and maximum temperature.</p>
<p>we need to add an info_box_template</p>

In [32]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]