## Deliverable 3. Create a Travel Itinerary Map.

In [24]:
import os
# this is to import API Keys
import sys
sys.path.append(os.path.join(os.path.dirname(sys.path[0])))

In [25]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [26]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Weather Descp,Lat,Lng,Hotel Name
0,1,Dingle,PH,76.98,broken clouds,11.00,122.67,Camp Pasica
1,2,Bendigo,AU,53.19,light rain,-36.77,144.28,The Hotel Shamrock
2,3,Bredasdorp,ZA,64.40,clear sky,-34.53,20.04,Bredasdorp Country Manor
3,7,Samarai,PG,79.81,light rain,-10.62,150.67,Nuli Sapi
4,8,Maunabo,PR,87.01,overcast clouds,18.01,-65.90,Maunacaribe

In [27]:
# 2. Using the template add the city name, the country code, 
#the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
<dt>Weather Descp</dt><dd>{Weather Descp}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]
locations.head(10)

     Lat     Lng
0  11.00  122.67
1 -36.77  144.28
2 -34.53   20.04
3 -10.62  150.67
4  18.01  -65.90
5 -23.12 -134.97
6  41.54   -8.62
7  24.69   46.72
8  25.52   90.22
9 -33.65  115.33

In [28]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Margate"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Margate"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Saint Austell"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Crewe"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Bridlington"] 

#vacation_start
vacation_stop1

,City_ID,City,Country,Max Temp,Weather Descp,Lat,Lng,Hotel Name
279,392,Saint Austell,GB,55.0,broken clouds,50.34,-4.77,The Cornwall Hotel & Spa

In [30]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()
end = vacation_end[["Lat", "Lng"]].to_numpy()
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()

#list1 = start.tolist()
start = tuple(start.reshape(1, -1)[0])

#list2 = end.tolist()
end = tuple(end.reshape(1, -1)[0])

#list3 = stop1.tolist()
stop1 = tuple(stop1.reshape(1, -1)[0])

#list4 = stop2.tolist()
stop2 = tuple(stop2.reshape(1, -1)[0])

#list5 = stop3.tolist()
stop3 = tuple(stop3.reshape(1, -1)[0])

print(start)
print(stop1)
print(stop2)
print(stop3)

(51.38, 1.39)
(50.34, -4.77)
(53.1, -2.44)
(54.08, -0.19)

In [31]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()

weather_travel_map = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3],travel_mode='DRIVING')

fig.add_layer(weather_travel_map)
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_end,vacation_stop1,vacation_stop2,vacation_stop3],
                         ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Weather Descp,Lat,Lng,Hotel Name
0,180,Margate,GB,57.0,clear sky,51.38,1.39,Premier Inn Margate hotel
1,180,Margate,GB,57.0,clear sky,51.38,1.39,Premier Inn Margate hotel
2,392,Saint Austell,GB,55.0,broken clouds,50.34,-4.77,The Cornwall Hotel & Spa
3,226,Crewe,GB,50.0,broken clouds,53.10,-2.44,Crewe Hall
4,336,Bridlington,GB,51.8,scattered clouds,54.08,-0.19,Expanse Bridlington Seafront Hotel

In [35]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
<dt>Current Weather</dt><dd>{Weather Descp}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [42]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(40.0, 41.0), zoom_level=3.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))